.project {
  margin-bottom: 150px;
  max-width: 1920px;
  position: relative;
  height: 450px;
  border-radius: 10px;
}

.project__image {
  width: 60%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  filter: saturate(50%);
  opacity: 0.4;
}

.project__description {
  text-align: right;
  position: absolute;
  top: 0;
  left: 60%;
  width: 40%;
  height: 100%;
}

.right .project__description {
  text-align: left;
}

.right > .project__image {
  left: 40%;
}

.right > .project__description {
  left: 0;
}

.project__technologies {
  margin: 30px 0px;
}

.project__technology {
  min-width: 100px;
  margin-bottom: 5px;
  padding: 0 25px;
}

.project__text {
  padding: 20px 30px;
  position: absolute;
  left: -20%;
  top: 50%;
  width: 120%;
  text-align: center;
  background-color: rgb(21, 24, 26);
}

.right .project__text {
  left: 0;
}

.project__linksContainer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
}

.project__link {
  margin: 0 20px;
  padding: 5px 20px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 white;
}

.githubLink {
  color: rgb(0, 102, 236);
}

.hostLink {
  color: rgb(212, 0, 255);
}

@media (max-width: 900px) {
  .project {
    box-shadow: 0 0 3px 0px;
  }
  .project > .project__image {
    display: none;
  }
  .project > .project__description {
    left: 0;
    width: 100%;
    padding: 10px 10px;
  }

  .project__text {
    width: 100%;
    left: 0;
  }

  .project__technologies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .project__technology {
    min-width: 70px;
  }

  .project__link {
    box-shadow: none;
    background-color: rgb(8, 8, 8);
  }
}
