.download-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  line-height: 50px;
  background-color: rgb(196, 88, 0);
  border: none;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  color: whitesmoke;
  box-shadow: 0 0 10px 1px orange;
  cursor: pointer;
}
