.top {
  position: relative;
  height: calc(100vh - 180px);
  display: flex;
}

.top-left,
.top-right {
  width: 50%;
  height: 100%;
  position: relative;
}

.top__curtain {
  position: absolute;
  right: 0;
  top: 0;
  background-color: black;
  z-index: 1;
}

.top-left > .skills {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

@media (max-width: 900px) {
  .top-left {
    width: 100%;
    height: 100%;
  }

  .top-right {
    display: none;
  }

  .top-left > .skills {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
