.contact-me {
  margin: 40px 0;
  width: 100%;
}

.contact-me > .section-body {
  padding: 15px;
}

.contact-me__container {
  margin-left: calc(50%);
  transform: translateX(-50%);
  width: 50%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
}

.contact-me__icon {
  padding: 11px;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.in {
  color: rgb(255, 255, 255);
  box-shadow: 0 0 18px rgb(0, 162, 255), inset 0 0 7px rgb(0, 139, 219);
}

.gh {
  color: rgb(255, 255, 255);
  box-shadow: 0 0 18px rgb(207, 207, 207), inset 0 0 7px rgb(200, 200, 200);
}

.at {
  color: rgb(255, 153, 0);
  box-shadow: 0 0 18px rgb(221, 169, 0), inset 0 0 7px rgb(221, 169, 0);
}

@media (max-width: 600px) {
  .contact-me__container {
    width: 80%;
  }
}
