.bubble {
  background-color: #f4f4f4;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.bubble-gradient {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 62%);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.bubble__img {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
