@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  overflow: hidden;
}

ul {
  list-style: none;
}

button,
a {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  text-decoration: none;
}

@media (max-width: 800px) {
  body {
    font-size: 12px;
  }
}
